
BasedOnStyle: Microsoft
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'false'
Language: Cpp
SpacesInSquareBrackets: 'false'
ColumnLimit: '150'
IndentWidth: '4'
