Checks: 'cppcoreguidelines-*,
clang-*
concurrency-*
performance-*,
modernize-*,
google-*,
misc-*
cert-*,
readability-*,
portability-*
clang-analyzer-*,
-modernize-use-trailing-return-type,
'

WarningsAsErrors: false

HeaderFilterRegex: '^((?/include/gain_capital_client.h|/include/gain_capital_exception.h).)*$'